* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


#header {
    width: 100%;
    min-height: 120px;
    background-color: #650002;
    color: white;
}

.wrap {
    text-align: center;
}

/* Logo */

#header-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

#header-title h1 {
    padding: 15px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 3px 5px black;

}

#header-title .logo-img {
    width: 8%;
}

/* Menú */

#menu ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 0;
    transition: 0.3s;
    text-shadow: 0px 2px 5px black;
    transition: all 300ms;
}

#menu ul li a:hover {
    color: #ccc;
    transform: scale(1.1);
}

#titulo {
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    padding: 20px;
    text-shadow: 0px 2px 4px gray;
}

.title-description {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 625px;
    margin: 0 auto;
}

.consulta {
    display: inline-block;
    background-color: #b00000;
    color: white;
    padding: 15px 40px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: all 300ms;
    cursor: pointer;
    margin-top: 15px;



}

.consulta:hover {
    color: #4b0000;
    background-color: #8f0000;
    transform: scale(1.05);
}





/* SERVICIOS */


#servicios {
    margin: 20px;
}

#servicios h2 {
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 50px;
    text-shadow: 0px 2px 4px gray;
}

#servicios-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}


.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border-top: 4px solid #8d0004;
    /* mismo tono bordó del header */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    text-align: left;

    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px black;
}

.card h3 {
    margin-bottom: 12px;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card a {
    margin-top: auto;
    text-decoration: none;
    font-weight: bold;
    color: #7a0000;
    transition: opacity 0.2s ease;
    border: 2px solid #7a0000;
    border-radius: 7px;

    padding: 5px;
}


.card a:hover {
    background: #8d0004;
    color: white;
}



/*SOBRE NOSOTROS */

#nosotros-info .linkedin {
    color: #c40000;
    text-decoration: none;
    font-weight: bold;
}

#nosotros-info .linkedin:hover {
    text-decoration: underline;
}

#nosotros .wrap {
    width: 75%;
    margin: 0 auto;
}


#nosotros h2 {
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 50px;
    text-shadow: 0px 2px 4px gray;
}

#nosotros-info p {
    max-width: 900px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 30px;

    text-align: left;
}


#container-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.container-wrap {
    background-color: #fff;
    padding: 45px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 21px lightgray;
    transition: all 400ms;
}

.container-wrap:hover {
    transform: scaleY(-7px);
}

.container-wrap ul {
    list-style: none;
}

.container-wrap ul li,
.container-wrap .matricula {
    text-align: left;
}

.container-wrap h3 {
    color: #b00000;
}


/* CONTACTO */

#contacto {
    background-color: #f5f5f5;
    padding: 80px 20px;
    text-align: center;
}

.contacto-container {
    max-width: 75%;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px lightgray;
}

#contacto h2 {
    color: #c40000;
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 40px;
    text-shadow: 0px 2px 4px gray;
}


#contacto .contacto-sub {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #555;
}

#contacto .btn {
    display: inline-block;
    background-color: #c40000;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    margin-bottom: 30px;
}

#contacto .btn:hover {
    background-color: #900000;
    transform: translateY(-2px);
}

#contacto p {
    padding: 10px;
    margin-top: 10px;
}

#contacto .email {
    color: #8d0004;
    text-decoration: none;
}


.info {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.info .label {
    font-weight: bold;
}

.email {
    color: #c40000;
    text-decoration: none;
    font-weight: 500;
}

.email:hover {
    text-decoration: underline;
}

.mapa iframe {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 12px;
    margin-top: 30px;
}






/* FOOTER */


footer {
    background-color: #1f1f1f;
    color: #ccc;
    padding: 50px 0 20px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.footer-col {
    width: 300px;
    text-align: center;
    padding: 25px;
}

.footer-col .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 18%;
    margin-bottom: 10px;
}

.footer-col h3 {
    font-size: 17px;
}

.footer-col h3,
.footer-col h4 {
    color: white;
    margin-bottom: 15px;
}

.footer-col:last-child {
    text-align: left;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a,
.footer-col p a {
    color: #ccc;
    text-decoration: none;
}

.footer-col ul li a:hover,
.footer-col p a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #888;
}











/* MOBILE */
@media (max-width:768px) {

    /* HEADER */
    header {
        min-height: 50px;
    }

    #header-title h1 {
        font-size: 35px;
    }

    #header-title .logo-img {
        width: 12%;
    }



    #menu ul li a {
        font-size: 20px;
    }


    /* FOOTER */
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        width: 85%;
    }

    .footer-col:last-child {
        text-align: center;
    }

    .footer-col h3,
    .footer-col h4 {
        font-size: 23px;
    }

    .footer-logo img {
        width: 10%;
    }
}


@media (max-width:700px) {
    #header-title h1 {
        font-size: 21px;
    }

    #menu ul li a {
        font-size: 15px;
    }

    #titulo {
        font-size: 24px;
    }

    .info .label {
        display: block;
    }



    #nosotros h2 {
        font-size: 30px;
    }

    #servicios h2 {
        font-size: 30px;
    }









    .footer-bottom p {
        font-size: 11px;
    }

}

@media (max-width:390px) {
    #menu ul li a {
        font-size: 14px;
    }
}

@media (max-width:380px) {
    #menu ul li a {
        font-size: 13px;
    }

    #titulo {
        font-size: 23px;
    }

    .title-description {
        font-size: 17px;
    }

    .footer-col h3,
    .footer-col h4 {
        font-size: 19px;
    }
}